<footer class="footer">
  <ul>
    <li><i class="far fa-copyright"></i>Utsav Gupta</li>
    <li><a href="https://www.linkedin.com/in/utsav-gupta-a618b1217/"><i class="fab fa-linkedin fa-lg"></i></a></li>
    <li><a href="https://www.instagram.com/utsavgupta3011/"><i class="fab fa-instagram fa-lg"></i></a></li>
    <li><a href="https://github.com/UtSaV3011"><i class="fab fa-github fa-lg"></i></a></li>
  </ul>
</footer>
</body>

</html>
